.example {
  background-color: $color-secondary;
}

.example__wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.example__title {
  @include text-parameter(36px, 1.67, $color-subtitle, 400);
}

.example__text {
  @include text-parameter(14px, 1.29, $color-text, 400);
}

.example__fact-item {
  border: 1px solid $color-border;
  border-radius: 3px;
  @include text-parameter(24px, 1, $color-subtitle, 400);
  width: 124px;
  height: 56px;
  text-transform: uppercase;
}

.example__fact-total-item {
  @include text-parameter(14px, 1.43, $color-subtitle, 400);
  text-transform: uppercase;
}

.example__fact-comment {
  @include text-parameter(12px, 1, $color-text, 400);
}

.example__verge {
  text-transform: uppercase;
  @include text-parameter(16px, 1.25, $color-subtitle, 400);
}
