.product-card__list {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  list-style: none;
  padding-left: 0;
}

.product-card__item {
  flex-basis: 160px;
  border-top: 1px solid $color-border;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;

  &:last-of-type {
    border-bottom: 1px solid $color-border;
  }

  &--big-card {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &--small-card {
    padding-top: 14px;
    padding-bottom: 17px;
  }
}

.product-card__title {
  @include text-parameter(16px, 1.25, $color-subtitle, 400);
  text-transform: uppercase;
  padding-left: 140px;
}

.product-card__description {
  @include text-parameter(12px, 1.33, $color-text, 400);
  display: block;
  border-collapse: collapse;
  padding-left: 140px;

  &--big-card {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &--small-card {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.product-card__characteristic {
  padding: 0;
  width: 100%;
}

.product-card__button {
  display: inline-block;

  @include text-parameter(16px, 1.25, $color-element, 400);
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 16px;
    margin-bottom: 70px;
  }

  .product-card__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -30px;
    margin-left: -30px;
  }

  .product-card__item {
    flex-basis: 264px;
    text-align: center;
    background-color: $color-secondary;
    margin-top: 140px;
    padding: 40px;
    margin-right: 30px;
    margin-left: 30px;
    border-top: none;
    border: 1px solid transparent;
  }

  .product-card__description {
    @include text-parameter(16px, 1, $color-text, 400);
    width: 100%;
    padding-left: 0;
  }

  .product-card__characteristic {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;

    &:first-child {
      text-align: start;
    }

    &:last-child {
      text-align: end;
    }
  }

  .product-card__title {
    @include text-parameter(20px, 1, $color-subtitle, 400);
    padding-left: 0;
  }

  .product-card--view-more {
    background-color: #ffffff;
    border-color: $color-border;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
  }

  .product-card__item {
    flex-basis: 165px;
    margin-top: 145px;
  }
}
